.pay-info {
}

.item-card {
    -fx-border-radius: 10px;
    -fx-border-color: #9b9b9b;
    -fx-border-width: 1px;
}

.sale-header {
    -fx-border-color: #9b9b9b;
    -fx-border-width: 1px;
}

.red {
}

.imagen {
    -fx-background-color: #9b9b9b;
    -fx-min-width: 80px;
    -fx-min-height: 100px;
}

.font-20 {
    -fx-font-size: 22px;
}

.font-16 {
    -fx-font-size: 16px;
}

.font-14 {
    -fx-font-size: 14px;
}